<div class="title">
    Музыка
</div>
<ul class="menu">
    <li class="item"
        [routerLink]="'/user/main'">
        Главная
    </li>
    <li class="item"
        [routerLink]="'/user/top_100'">
        Топ 100
    </li>
    <li class="item"
        [routerLink]="'/user/your_music/user_songs'"
        *ngIf="user">
        Ваша музыка
    </li>
    <!--  -->
    <li class="item"
        *ngIf="!user"
        [routerLink]="'/user/enter'">
        Войти
    </li>
    <li class="item"
        *ngIf="!user" 
        [routerLink]="'/user/sign_up'">
        Зарегистрироваться
    </li>
    
    <li class="item"
        *ngIf="user" 
        (click)="clickExit()">
        Выйти
    </li>
</ul>