<p *ngIf="serial_number" class="serial-number">{{serial_number}}</p>
<div class="img-container" 
    [ngClass]="{ playing: playing }" 
    (click)="clickPlayButton()">

    <img [src]="srcCover" class="cover"/>
    <i *ngIf="!playing" class="fa-solid fa-play"></i>
    <i *ngIf="playing" class="fa-solid fa-pause"></i>
</div>
<div class="title-song-album">
    <h4 class="song">{{songInfo.album?.song?.title}}</h4>
    <p class="artist" 
        [routerLink]="'/user/artist/' + songInfo._id"
        [ngClass]="{ disable: disableArtistLink }">
        {{songInfo.title}}
    </p>
</div>
<h4 class="title-album"
    [routerLink]="'/user/artist/' + songInfo._id + '/album/' + songInfo.album?.id"
    [ngClass]="{ disable: disableAlbumLink }">
    {{songInfo.album?.title}}
</h4>
<div class="options">
    <i class="fa-regular fa-heart"
        *ngIf="!songAdd"
        (click)="clickAddSong()">
    </i>
    <i class="fa-solid fa-heart"
        *ngIf="songAdd"
        (click)="clickDelSong()">
    </i>

    <i class="fa-solid fa-ellipsis"></i>
    <context-menu-comp [show]="showContextMenu"></context-menu-comp>
</div>