:host

    .info
        display: grid
        grid-template-columns: min-content 1fr
        grid-template-rows: min-content min-content

        .artist-img
            grid-column: 1

            height: 600px

        